
<html>
{% extends "proyectoWebApp/padre.html" %}
 {% load static %}
<head>

</head>


<body>
   {% load crispy_forms_tags %}
   {% block content %}

   {% if messages %}
   {% for message in messages %}
       <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
           {{ message }}
           <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
       </div>
   {% endfor %}
{% endif %}

<a  href="{% url 'Home' %}"  style="font-size:23px; margin-left:990px; font-weight:bold; text-decoration:none;"><img src="{% static 'proyectoWebApp/img/logo volver mas chico.png' %}" alt="">&nbsp; regresar al HOME</a>


<form method ="post" class="ContenedorFormulario" style="float:left; margin-left:70px;" ><!-- enctype="multipart/form-data"......para el calendario, va al lado del post-->
	{% csrf_token %}

   <br>

   <h1 style="margin:center; text-align:center; font-family: arial; background:#37517e; color:white; ">Registrar Huesped</h1><br>



<table>


{{formHuesped|crispy}}


</table>

<p style="color:red; margin-left:260px; font-weight:bold; font-size:14px;">* campos obligatorios</p>





 <input type="submit" value="GUARDAR HUESPED" class="btn btn-info"><br><br>


 <p style = "font-size: 13px;">VER TABLA HUESPED, EDITAR / ELIMINAR / IMPRIMIR COMPROBANTE</p>



<a href= "{% url  'modificarHuesped' %}" style="margin:auto;"><button type="button" class="btn btn-info">VER TABLA Y ACTUALIZAR</button></a><br><br>
<!-- <p style = "font-size: 13px;">CON LIMPIAR FORMULARIO PUEDE LIMPIAR EL FORMULARIO Y VOLVER A CARGAR</p>
 <a href= "{% url 'Contrato' %}"  style="margin:auto"><button type="button" class="btn btn-dark">LIMPIAR FORMULARIO</button></a><br><br> -->


<br>
<br>
<br>
</form>
  
  
  

     
    

    
    </div>
    
    
    
      <!-- -------------------------------------------------SEGUND FORMULARIO------------------------------------------------------------- -->

    
<form action="guardarContrato" method ="post" enctype="multipart/form-data" class="ContenedorFormulario" style="float:right; margin-right:70px";> <!-- enctype="multipart/form-data"......para el calendario, va al lado del post-->
	{% csrf_token %}

   <br>

   <h1 style="margin:center; text-align:center; font-family: arial; background:#37517e; color:white; ">Registrar Contrato</h1><br>
   



<table>

{{formContrato|crispy}}




</table>
<br>

<p style="font-size: 14px; color:#F39C12;">SI DESEA HACER DESCUENTO AL IMPORTE DE CADA NOCHE DE ESTADIA</p><br>
<!-- le agruegue estos ckek box ------------------------------ -->
{% comment %} <label><input type="checkbox" id="10%" name="diez" value=10> 10%</label> &nbsp;
<label><input type="checkbox" id="15%" name="quince" value=15> 15%</label> &nbsp;

<label><input type="checkbox" id="50%" name="cincuenta" value=50> 50%</label> {% endcomment %}

<div style="display:flex;">
   <div class ="form-check">
      <label><input class="form-check-input" type="radio" name="descuento" value=5>5%</label> 
      
      
      </div> &nbsp; &nbsp;&nbsp;&nbsp;
<div class ="form-check">
<label><input class="form-check-input" type="radio" name="descuento" value=10>10%</label> 


</div> &nbsp; &nbsp;&nbsp;&nbsp;
<div class ="form-check" >
   <label><input class="form-check-input" type="radio" name="descuento" value=15>15%</label> 
</div> &nbsp; &nbsp;&nbsp;&nbsp;
<div class ="form-check">
   <label><input class="form-check-input" type="radio" name="descuento" value=20>20%</label>
</div> &nbsp; &nbsp;&nbsp;&nbsp;
<div class ="form-check">
   <label><input class="form-check-input" type="radio" name="descuento" value=25>25%</label> 
</div> &nbsp; &nbsp;&nbsp;&nbsp;
<div class ="form-check">
   <label><input class="form-check-input" type="radio" name="descuento" value=30>30%</label> 
</div> &nbsp; &nbsp;&nbsp;&nbsp;
</div> <br>
<div style="display:flex;">
<div class ="form-check">
   <label><input class="form-check-input" type="radio" name="descuento" value=35>35%</label> 
</div>  &nbsp; &nbsp;&nbsp;&nbsp;


<div class ="form-check">

   <label><input class="form-check-input" type="radio" name="descuento" value=40>40%</label> 

</div> &nbsp; &nbsp;&nbsp;&nbsp;
<div class ="form-check">
   <label><input class="form-check-input" type="radio" name="descuento" value=45>45%</label> 
</div> &nbsp; &nbsp;&nbsp;
<div class ="form-check">
   <label><input class="form-check-input" type="radio" name="descuento" value=50>50%</label> 
</div>&nbsp; &nbsp;&nbsp;
<div class ="form-check">
   <label><input class="form-check-input" type="radio" name="descuento" value=60>60%</label> 
</div>&nbsp; &nbsp;&nbsp;
<div class ="form-check">
   <label><input class="form-check-input" type="radio" name="descuento" value=70>70%</label> 
</div>
</div>
<!--<p style="color:red; margin-left:119px; font-weight:bold; font-size:14px;">El total y las noches se sacan automaticamente</p> -->
<br>
<p style="font-size: 14px; color: green;">SI DESEA HACER DESCUENTO AL TOTAL DEL IMPORTE CALCULADO</p><br>

<div style="display:flex;">
   <div class ="form-check">
      <label><input class="form-check-input" type="radio" name="descuento_total" value=5>5%</label> 
      
      
      </div> &nbsp; &nbsp;&nbsp;&nbsp;
  
<div class ="form-check">
<label><input class="form-check-input" type="radio" name="descuento_total" value=10>10%</label> 


</div> &nbsp; &nbsp;&nbsp;&nbsp;
<div class ="form-check" >
   <label><input class="form-check-input" type="radio" name="descuento_total" value=15>15%</label> 
</div> &nbsp; &nbsp;&nbsp;&nbsp;
<div class ="form-check">
   <label><input class="form-check-input" type="radio" name="descuento_total" value=20>20%</label>
</div> &nbsp; &nbsp;&nbsp;&nbsp;
<div class ="form-check">
   <label><input class="form-check-input" type="radio" name="descuento_total" value=25>25%</label> 
</div> &nbsp; &nbsp;&nbsp;&nbsp;
<div class ="form-check">
   <label><input class="form-check-input" type="radio" name="descuento_total" value=30>30%</label> 
</div> &nbsp; &nbsp;&nbsp;&nbsp;
</div><br>
<div style="display:flex;">
<div class ="form-check">
   <label><input class="form-check-input" type="radio" name="descuento_total" value=35>35%</label> 
</div> &nbsp; &nbsp;&nbsp;&nbsp;

<div class ="form-check">

   <label><input class="form-check-input" type="radio" name="descuento_total" value=40>40%</label> 

</div> &nbsp; &nbsp;&nbsp;&nbsp;
<div class ="form-check">
   <label><input class="form-check-input" type="radio" name="descuento_total" value=45>45%</label> 
</div> &nbsp; &nbsp;&nbsp;
<div class ="form-check">
   <label><input class="form-check-input" type="radio" name="descuento_total" value=50>50%</label> 
</div>&nbsp; &nbsp;&nbsp;
<div class ="form-check">
   <label><input class="form-check-input" type="radio" name="descuento_total" value=60>60%</label> 
</div>&nbsp; &nbsp;&nbsp;
<div class ="form-check">
   <label><input class="form-check-input" type="radio" name="descuento_total" value=70>70%</label> 
</div>
</div><br>
<p style="font-size: 14px; color: red;">SI DESEA CARGAR UN AUMENTO AL TOTAL CALCULADO</p><br>
<div style="display:flex;">
   <div class ="form-check">
      <label><input class="form-check-input" type="radio" name="aumento" value=4>4%</label> 
      
      
      </div> &nbsp; &nbsp;&nbsp;&nbsp;
   <div class ="form-check">
      <label><input class="form-check-input" type="radio" name="aumento" value=5>5%</label> 
      
      
      </div> &nbsp; &nbsp;&nbsp;&nbsp;
<div class ="form-check">
<label><input class="form-check-input" type="radio" name="aumento" value=10>10%</label> 


</div> &nbsp; &nbsp;&nbsp;&nbsp;
<div class ="form-check" >
   <label><input class="form-check-input" type="radio" name="aumento" value=15>15%</label> 
</div> &nbsp; &nbsp;&nbsp;&nbsp;
<div class ="form-check">
   <label><input class="form-check-input" type="radio" name="aumento" value=20>20%</label>
</div> &nbsp; &nbsp;&nbsp;&nbsp;
<div class ="form-check">
   <label><input class="form-check-input" type="radio" name="aumento" value=25>25%</label> 
</div> &nbsp; &nbsp;&nbsp;&nbsp;
</div>
</br>
<div style="display:flex;">
   <div class ="form-check">
      <label><input class="form-check-input" type="radio" name="aumento" value=30>30%</label> 
   </div> &nbsp; &nbsp;&nbsp;&nbsp;
 
<div class ="form-check">
   <label><input class="form-check-input" type="radio" name="aumento" value=35>35%</label> 
</div>  &nbsp; &nbsp;&nbsp;&nbsp;


<div class ="form-check">

   <label><input class="form-check-input" type="radio" name="aumento" value=40>40%</label> 

</div> &nbsp; &nbsp;&nbsp;&nbsp;
<div class ="form-check">
   <label><input class="form-check-input" type="radio" name="aumento" value=45>45%</label> 
</div>
</div>
<br>
<br>
<p style="color:red; margin-left:300px; font-weight:bold; font-size:14px;">* campos obligatorios</p><br>
<p style = "font-size: 13px;">EL IMPORTE Y LOS DIAS DE ESTADIA SE CALCULAN AUTOMATICAMENTE</p>




 

<input type="submit" value="GUARDAR Y CALCULAR" class="btn btn-info"><br><br>

<p style = "font-size: 13px;">VER CONTRATOS ACTIVOS / ELIMINAR / LATE CHECK OUT / CAMBIAR TOTAL</p>
 <a href= "{% url 'modificarContrato' %}"  style="margin:auto"><button type="button" class="btn btn-info">VER CONTRATOS ACTIVOS</button></a><br><br>

 <p style = "font-size: 13px;">VER TODOS LOS CONTRATOS ACTIVOS Y NO ACTIVOS</p>

  <a href= "{% url 'contratosTotales' %}"  style="margin:auto"><button type="button" class="btn btn-info">VER CONTRATOS ACTIVOS Y NO ACTIVOS</button></a><br><br>

  
 <!-- <a href= "#"  style="margin:auto"><button type="button" class="btn btn-info">AGREGAR LATE CHECK OUT</button></a><br> -->
 <p style = "font-size: 13px;">CON LIMPIAR FORMULARIO PUEDE LIMPIAR EL FORMULARIO Y VOLVER A CARGAR</p>
 <a href= "{% url 'Contrato' %}"  style="margin:auto"><button type="button" class="btn btn-dark">LIMPIAR FORMULARIO</button></a><br><br>




<!--  <a href= "#" style="margin:auto;"><button type="button" class="btn btn-info">CALCULAR EL TOTAL</button></a> -->
<br>
<br>
<h4 style="color:green">Noches de estadia: {{diferenciaConvertida}} </h4>
<h4 style="color:green">Descuento en el precio de la habitacion: {{descuento}} %</h4>
<h4 style="color:green">Descuento al total importe: {{descuento_total}} %</h4>
<h4 style="color:green">Aumento sobre el total: {{aumento}} %</h4>
<!-- <h4 style="color:green">Importe de estadia: {{importe_estadia}} </h4>
<h4 style="color:green">Importe de otros gastos es: {{importe_de_otros_gastos}} </h4>
<h4 style="color:green">El total es de: {{total}} </h4> -->

<br>
<br>
</form>






   
 
      







   {% endblock %}

</body>



</html>