


<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Panel de administracion</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link href="{% static 'proyectoWebApp/css/styles_admin.css' %}" rel="stylesheet">
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed" >
        <nav class="sb-topnav navbar navbar-expand" style="background:#F39C12;"><!--le saque esto y le puse el color naranja   navbar-dark bg-dark-->
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="index.html">Panel de administracion</a>
            <!-- Sidebar Toggle-->
           <!-- <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button> -->
            <!-- Navbar Search--> 
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">

                    <input class="form-control" type="text" placeholder="Search for"... aria-label="Search for..."aria-describedby="btnNavbarSearch">
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion" style="background: #37517e;"><!--cambiarle el color al menu -->
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" href="{% url 'mostrarDiagramas' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Diagramas
                            </a>
                            <div class="sb-sidenav-menu-heading">Interface</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Layouts
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="layout-static.html">Static Navigation</a>
                                    <a class="nav-link" href="layout-sidenav-light.html">Light Sidenav</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Pages
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                        Authentication
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="login.html">Login</a>
                                            <a class="nav-link" href="register.html">Register</a>
                                            <a class="nav-link" href="password.html">Forgot Password</a>
                                        </nav>
                                    </div>
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                                        Error
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="401.html">401 Page</a>
                                            <a class="nav-link" href="404.html">404 Page</a>
                                            <a class="nav-link" href="500.html">500 Page</a>
                                        </nav>
                                    </div>
                                </nav>
                            </div>
                            <div class="sb-sidenav-menu-heading">Addons</div>
                            <a class="nav-link" href="charts.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Charts
                            </a>
                            <a class="nav-link" href="tables.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Tables
                            </a>
                        </div>
                    </div>
                  
                </nav>
            </div>
          
            <div id="layoutSidenav_content" style="background:#D5D8DC;">
                <main>
                     <br>
                    <a style="margin-left:820px; font-weight:bold; text-decoration:none;font-size:20px;" href="{% url 'Contrato' %}"><img src="{% static 'proyectoWebApp/img/logo volver mas chico.png' %}" alt="">&nbsp; regresar a CONTRATO</a><br> <!--le ahregue esto -->     <br>    
             <!-- <div class="card-body"> -->
                <!-- aca vamos a poner los diagramas de barra y circulo-->

               {% comment %}  <div class="row">
                    <div class="col-lg-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-bar me-1"></i>
                                Bar Chart Example
                            </div>
                            <div class="card-body"><canvas id="myBarChart" width="100%" height="50"></canvas></div>
                            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-pie me-1"></i>
                                Pie Chart Example
                            </div>
                            <div class="card-body"><canvas id="myPieChart" width="100%" height="50"></canvas></div>
                            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                        </div>
                    </div>
                </div>
              {% endcomment %}
               <br>
               <a href="{% url 'Panel' %}" class="btn btn-primary" style="font-size:16px; margin-left:500px;">RECARGAR</a>
               <br>
               <br>
             
                      <!-- aca terminan los diagramas de barra y circulos -->  
                      <div class="container">

                      
                       
                 
                     
                 
                 
                 
                 
                      <div class="row">
                      
                   
                     {% for habitacion in habitacion %}
                 
                          <div class="col-md-2">
                      <div class="card" style="width: 45%; margin: 9px 9px;font-size:14px;"> <!-- el ancho estaba en 85 se lo cambie a 95 para centrar los botones !-->
                 
                       
                 
                      <img src="{{habitacion.estado_libre.url}}">
                      <h7 class="card-title" style="text-align:center;">{{habitacion.nombre_numero}}</h7>
                     <!--  <h7 class="card-title"> Salida: {{contrato.fecha_salida}}</h7> -->
                     <a href="{% url 'Contrato' %}"  class="btn btn-info" style="font-size:12px;">Contrato</a>
                    
                    

                    

                    
                  
                           
                            </div> <!--  cierra el   card  !-->
                          </div> <!--  cierra el   col  !-->
                 
                         
                 
                          {% endfor %}

                    <!-- -------------------------------------otro for--------------------- -->
                  {% comment %}   {% for contrato in contrato %}
                 
                 
                    <div class="col-md-2">
                <div class="card" style="width: 40%; margin: 9px 9px; font-size:15px;"> <!-- el ancho estaba en 85 se lo cambie a 95 para centrar los botones !-->
           
                 
           
                <img src="{{contrato.habitacion.estado_ocupado.url}}">
                <h7 class="card-title">{{contrato.habitacion.nombre_numero}}</h7>
                <h7 class="card-title">{{contrato.fecha_salida}}</h7>
               <!--  <h7 class="card-title"> Salida: {{contrato.fecha_salida}}</h7> -->



              

              

              
            
                     
                      </div> <!--  cierra el   card  !-->
                    </div> <!--  cierra el   col  !-->
           
                   
           
                    {% endfor %}
 {% endcomment %}
        <!--  -------------------------------habitaciones no limpias.....---------- -->

               {% for habi in habitacionesNoLimpias %}
               
               <div class="col-md-2">
                <div class="card" style="width: 45%; margin: 9px 9px;font-size:15px;"> <!-- el ancho estaba en 85 se lo cambie a 95 para centrar los botones !-->



               <img src="{{habi.estado_post_ocupado.url}}">
               <h7 class="card-title" style="text-align:center;">{{habi.nombre_numero}}</h7>
               <h7 class="card-title" style="color:red;">NO ESTA LISTA</h7>
              


        
      
                <a href="{% url ' habilitar_NoLimpias' habi.id %}"  class="btn btn-info" style="font-size:12px;">Habilitar</a> <!-- adonde nos lleva el vinculo en el futuro !-->
            
           
           
                 
            </div> <!--  cierra el   card  !-->
            
        </div> <!--  cierra el   col  !-->

       

        {% endfor %}

        <!-- --------------------------------habitaciones post ocupadas------------------------------ -->

       {% for habiOcu in habitaciones_post %}
               
        <div class="col-md-2">
         <div class="card" style="width: 45%; margin: 9px 9px;font-size:15px;"> <!-- el ancho estaba en 85 se lo cambie a 95 para centrar los botones !-->



        <img src="{{habiOcu.habitacion.estado_post_ocupado.url}}">
        <h7 class="card-title" style="text-align:center;">{{habiOcu.habitacion.nombre_numero}}</h7>
        <h7 class="card-title" style="color:red;">FIN DE LA ESTADIA</h7>
        <a href="{% url 'habilitarPost_time' habiOcu.habitacion.id %}"  class="btn btn-info" style="font-size:12px;">Habilitar</a> <!-- adonde nos lleva el vinculo en el futuro !-->


 
       
    
    
          
     </div> <!--  cierra el   card  !-->
 </div> <!--  cierra el   col  !-->



 {% endfor %} 
  <!-- --------------------------------habitaciones  ocupadas------------------------------ -->

  {% for habiOcup in habitacionesOcupadas %}
               
  <div class="col-md-2">
   <div class="card" style="width: 45%; margin: 9px 9px;font-size:15px;"> <!-- el ancho estaba en 85 se lo cambie a 95 para centrar los botones !-->



  <img src="{{habiOcup.habitacion.estado_ocupado.url}}">
  <h7 class="card-title" style="text-align:center;">{{habiOcup.habitacion.nombre_numero}}</h7>
  <h7 class="card-title" style="font-size:12px;"> {{habiOcup.fecha_salida}}</h7> 
  <a href="{% url 'habilitar_ocupadas' habiOcup.habitacion.id %}"  class="btn btn-info" style="font-size:12px;">Habilitar</a> <!-- adonde nos lleva el vinculo en el futuro !-->
  



 


    
</div> <!--  cierra el   card  !-->
</div> <!--  cierra el   col  !-->



{% endfor %} 

           

                 

                  
                   
                
                     
                    </div> <!--  cierra el   row  !-->
                        </div> <!--  cierra el   container  !-->
                 
                 
                 
              
                 
                   
                    
            
                   <!-- </div> -->
                </main>
               
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{%  static 'js_admin/scripts.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
       <!-- <script src="assets/demo/chart-area-demo.js"></script> -->
       <!-- <script src="assets/demo/chart-bar-demo.js"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'js_admin/datatables-simple-demo.js' %}"></script> 

        <script src="proyectoWebApp/js/scripts.js"></script>
      <!--estos son los scrip de el template Chart de los graficos, no son del index.html -->
   
     
      <script src="{% static 'proyectoWebApp/js_admin/chart-bar-demo.js' %}"></script>
      <script src="{% static 'proyectoWebApp/js_admin/chart-pie-demo.js' %}"></script>
    </body>
</html>




