
<html>
 {% extends "proyectoWebApp/padre.html" %}
 {% load static %}


<body>

  <!-- ======= Header ======= -->


  <!-- ======= Hero Section ======= -->

    <!-- ======= Services Section ======= -->
   {% block content %}



   <!-- <section id="services" class="services section-bg">-->

  <br>


<img src="{% static 'proyectoWebApp/img/hotel para home.png' %}" alt="" style=" display: block; margin: auto;">



<br>





  <!--  </section>  --> <!-- End Services Section -->

{% endblock %}

  <!-- ======= Footer ======= -->



  <!-- End Footer -->



  <!-- Vendor JS Files -->


  <!-- Template Main JS File -->


</body>

</html>