
<html>
 {% extends "proyectoWebApp/padre.html" %}
 {% load static %}


<body>
  

  <!-- ======= Header ======= -->


  <!-- ======= Hero Section ======= -->

    <!-- ======= Services Section ======= -->
   {% block content %}
   

    <a href={% url 'Inicio' %} style="font-weight:bold; font-size: 20px; margin-left:1020px;"><img src="{% static 'proyectoWebApp/img/logo volver mas chico.png' %}" alt=""> Regresar a INICIO<a/> &nbsp;&nbsp;&nbsp;&nbsp;
   

   <!-- <section id="services" class="services section-bg">-->



  <br>

<img src="{% static 'proyectoWebApp/img/hotel-rayas-sol.png' %}" alt="" style=" display: block; margin: auto;">

<!--<img src="{% static 'proyectoWebApp/img/home-hotel-grande.png' %}" alt="" style=" display: block; margin: auto;"> -->









  <!--  </section>  --> <!-- End Services Section -->

{% endblock %}

  <!-- ======= Footer ======= -->



  <!-- End Footer -->



  <!-- Vendor JS Files -->


  <!-- Template Main JS File -->


</body>

</html>