
<html>
 {% extends "proyectoWebApp/padre.html" %}
 {% load static %}


<body>

  <!-- ======= Header ======= -->


  <!-- ======= Hero Section ======= -->

    <!-- ======= Services Section ======= -->
   {% block content %}



   <!-- <section id="services" class="services section-bg">-->



  <br>

<img src="{% static 'proyectoWebApp/img/hotel rayas.png' %}" alt="" style=" display: block; margin: auto;">

<!--<img src="{% static 'proyectoWebApp/img/home-hotel-grande.png' %}" alt="" style=" display: block; margin: auto;"> -->









  <!--  </section>  --> <!-- End Services Section -->

{% endblock %}

  <!-- ======= Footer ======= -->



  <!-- End Footer -->



  <!-- Vendor JS Files -->


  <!-- Template Main JS File -->


</body>

</html>