
<html>
 {% load static %}
<head>


  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Arsha Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'proyectoWebApp/img/favicon.png' %}" rel="icon">
  <link href="{% static  'proyectoWebApp/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'proyectoWebApp/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'proyectoWebApp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'proyectoWebApp/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'proyectoWebApp/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'proyectoWebApp/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'proyectoWebApp/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'proyectoWebApp/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'proyectoWebApp/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Arsha - v4.11.0
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

       <h1 class="logo me-auto" style="color:white;">-HOTEL-</h1>
     <!--  <h1 class="logo me-auto"><a href="index.html">-HOTEL-</a></h1>-->



 <!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <!-- <a href="#"><img src="{% static 'proyectoWebApp/img/open mas grande.png' %}"></a>-->
   <!--  <a href="#"><button style="background:white; border:none; size:200px">CARGAR HABITACIONES</button></a>-->
<!-- <nav id="navbar" class="navbar">
        <ul style="margin-left:390px;">

          <li><a class="nav-link scrollto" href="#about" style="font-size:30px;">About</a></li>
          <li><a class="nav-link scrollto" href="#services" style="font-size:30px;">Services</a></li>
          <li><a class="nav-link   scrollto" href="#portfolio" style="font-size:30px;">Portfolio</a></li>
          <li><a class="nav-link scrollto" href="#team" style="font-size:30px;">Team</a></li>

            <ul>-->
              <div>
                <nav id="navbar" class="navbar" style="margin-left:20px;">
        <ul>
          <li><a class="nav-link scrollto active" href="{% url 'Home' %}"  style="font-size:20px"><img src="{% static 'proyectoWebApp/img/open mas chico.png' %}"> Home</a></li>
          <li ><a  class="nav-link scrollto" href="{% url 'Habitacion' %}"  style="font-size:20px"><img src="{% static 'proyectoWebApp/img/open mas chico.png' %}">Cargar habitaciones</a></li>
          <li><a class="nav-link scrollto " href="#services"  style="font-size:20px"><img src="{% static 'proyectoWebApp/img/open mas chico.png' %}">Services</a></li>
          <li><a class="nav-link scrollto" href="#portfolio"  style="font-size:20"><img src="{% static 'proyectoWebApp/img/open mas chico.png' %}">Portfolio</a></li>
           <li><a class="nav-link scrollto" href="#portfolio"  style="font-size:20"><img src="{% static 'proyectoWebApp/img/open mas chico.png' %}">Contacto</a></li>



        </ul>
                  </li>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->


              </div>

  </section><!-- End Hero -->

    <!-- ======= Services Section ======= -->
   {% block content %}





{% endblock %}

  <!-- ======= Footer ======= -->



  <!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'proyectoWebApp/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'proyectoWebApp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'proyectoWebApp/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'proyectoWebApp/vendor/isotope-layout/isotope.pkgd.min.js '%}"></script>
  <script src="{% static 'proyectoWebApp/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'proyectoWebApp/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'proyectoWebApp/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'proyectoWebApp/js/main.js' %}"></script>

</body>

</html>