<html>
{% extends "proyectoWebApp/padre.html" %}
 {% load static %}
<head>






</head>
<body>

 {% block content %}


 <div>
  <form method ="post" style="background:#999999;">
   {% csrf_token %}
      <br>
    <h2 style="margin-left:460px;color: #37517e;">CARGAR HABITACIONES</h2><br>

   <table style="margin-left: 50px;">



  {{forms}}

</table>

 <!-- <button type="submit" style="width:200px; margin-left: 400px; margin-top:50px; background:#37517e; color:white; cursor:pointer; ">Guardar</button><br>-->

<br>
<!--  ----------------------------------------------------------------------boton section Abous us<<<<<<<<<<<<<<<<<<<<<<<<<<<< -->

   <div id="about" class="about"><!-- empieza el section About Us Section -->
      <div class="container" data-aos="fade-up">

        <div class="section-title">

        </div>

        <div class="row content">
          <div class="col-lg-6">


          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" style="margin-left: 170px;">

            <a href="#" class="btn-learn-more" style="color:#37517e; font-weight:bold;">Guardar</a>
          </div>
        </div>

      </div>
    </div><!-- End About Us Section -->
<!--  ----------------------------------------------------------------------boton section Abous us<<<<<<<<<<<<<<<<<<<<<<<<<<<< -->
 <br>
  </form>

 </div>

{% endblock %}

</body>





</html>