<html>
{% extends "proyectoWebApp/padre.html" %}
 {% load static %}
<head>

 



 


</head>
<body>
  {% load crispy_forms_tags %}

  

 {% block content %}
  




 <div>

    {% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

      <a  href="{% url 'Home' %}"  style="font-size:20px; margin-left:1065px; font-weight:bold;"><img src="{% static 'proyectoWebApp/img/logo volver mas chico.png' %}" alt="">&nbsp; regresar al HOME</a>


    

<div>
  <form method ="post" class="ContenedorFormulario">
    <h1 style="margin:center; text-align:center; font-family: arial; background:#37517e; color:white; ">Cargar las habitaciónes del hotel</h1><br>
   {% csrf_token %}
      <br>
    

  



    {{forms|crispy}} 
  
 





<br>
     
      <!-- <button type="submit" style="width:200px; margin-left: 400px; margin-top:50px; background:#37517e; color:white; cursor:pointer; ">Guardar</button><br>-->
      <p style="color:red; margin-left:380px; font-weight:bold; font-size:14px;">* campos obligatorios</p>




  

             <input type="submit" value="GUARDAR HABITACION" class="btn btn-info" style="margin:auto;">&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
           
             <a href= "{% url  'modificarHabitacion' %}" ><button type="button" class="btn btn-info" style="margin:auto;">VER TABLA Y ACTUALIZAR</button></a>
            
  </form>



  
     
    
 



<br>

</div>



<br>

{% endblock %}

</body>





</html>